<ion-header>
  <ion-toolbar>
    <ion-title>
      2º Pagina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
    <iframe width="320" height="215" src="https://www.youtube.com/embed/FpIKptkeA_k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-header>
  </ion-content>
   
  <ion-content>
      <ion-card-header>
    Fui pra praia e pensei, porque não gravar?..<br>
    Amei ter passado esse finde com vocês.<br>

    Obrigada por ter assistido e não esqueça de deixar seu like!<br>
    
    Redes sociais:<br>
    
    ✓Instagram: https://www.instagram.com/agatharech_...<br>
    
    ✓Facebook: https://www.facebook.com/agatha.rech.5
    </ion-card-header>
  </ion-content>

