<ion-header>
  <ion-toolbar>
    <ion-title>
      agatha rech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <ion-card>
      <ion-card-header>
         <iframe width="320" height="215" src="https://www.youtube.com/embed/2ZMxmr4IM_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
        <ion-card-title>Ágatha Rech</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Meu canal do YouTube é sobre minha vida pessual.<br>

        Você tambem pode acessar minha redes sociais<br>
          ✓Instagram: https://www.instagram.com/agatharech_...<br>
          ✓Facebook: https://www.facebook.com/agatha.rech.5
      </ion-card-content>
    </ion-card>

</ion-content>

