<ion-header>
  <ion-toolbar>
    <ion-title>
      3º Pagina
    </ion-title>
  </ion-toolbar>
</ion-header>

  
<ion-content> 
  <ion-row>  
      <ion-col>
          <br> Subindo a Serra Gaúcha<br>
      </ion-col>
      <ion-col>
          <iframe width="120" height="95" src="https://www.youtube.com/embed/CAVWEiZU2DU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
             Saia da rotina 💃<br>
      </ion-col>
      <ion-col>
           <iframe width="120" height="95" src="https://www.youtube.com/embed/OKkzrmQCHxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-col>
    </ion-row>
         <ion-row>
       <ion-col>
          Fui pra lagoa.<br>
     </ion-col>
      <ion-col>
             <iframe width="120" height="95" src="https://www.youtube.com/embed/Xl8XVAplKzM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-col>
       </ion-row>
   <ion-row>
       <ion-col>
          A mansão abandonada<br>
         </ion-col>
        <ion-col>
          <iframe width="120" height="95" src="https://www.youtube.com/embed/YDlF_Pul1sQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-col>
   </ion-row>
   <ion-row>
       <ion-col>
          Fizeram um festa surpresa!<br>
       </ion-col>
       <ion-col>
          <iframe width="120" height="95" src="https://www.youtube.com/embed/wqn_hCNNZVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </ion-col>
   </ion-row>
  <ion-row>
       <ion-col>
         Eu sendo eu!<br>
      </ion-col>
        <ion-col>
       <iframe width="120" height="95" src="https://www.youtube.com/embed/4AbiwY09zrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </ion-col>
  </ion-row>



  </ion-content>
